* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Rajdhani", sans-serif;
}

.container {
  width: 100%;
  padding-inline: 75px;
}



/* First Page*/

.first-section {
  position: relative;
  padding-bottom: 30px;

}

.black__text-box {
  display: flex;
  width: 675px;
  flex-direction: column;
  gap: 70px;
  color: white;
}

.title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin-top: 30px;
  margin-bottom: 30px;
}

.main-title {
  position: relative;
  font-family: "Rajdhani", sans-serif;
  font-size: 20px;
  font-weight: 600;
  width: 100%;

}

.logo1 {
  border: 2px solid black;
  padding-block: 30px;
  border-top: none;
  /* üst sərhədi silir */
  border-bottom: none;
  /* alt sərhədi silir */
}

.logo {
  padding: 10px 10px;
  background: black;
  color: white;
  font-size: 18px;
  letter-spacing: 2px;
  align-items: center;
  border: 2px solid black;
}

.content {
  display: flex;
  justify-content: space-between;
}

.left-side {
  max-width: 500px;

}

.subtile {
  font-size: 24px;
  line-height: 1.2;
}


.mini-menu {
  margin-top: 97px;
}

.mini-menu a {
  display: flex;
  text-decoration: none;
  color: black;
  align-items: center;
  gap: 300px;
  margin: 30px 0;


}

.mini-menu .line {
  display: inline-block;
  width: 30px;
  height: 1.6px;
  background: black;
}

.description {
  margin-top: 209px;
  font-family: "Rajdhani", sans-serif;
  font-size: 18px;
  padding-right: 50px;
  margin-bottom: 0;

}


@media (min-width:900px) {
  .content {
    flex-direction: row;
  }
}



.right-side {
  position: relative;
}

.right-side img {
  width: 100%;

}

.btn-wrap {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background: black;
  color: white;
  text-decoration: none;
  margin-bottom: 40px;
}

.btn-black {
  background: black;
  color: white;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  z-index: 2;
  /* həmişə üstə çıxar */
  display: inline-block;
}

.btn-white {
  background: white;
  position: absolute;
  top: 4px;
  /* bir az aşağı sürüşdür */
  left: 4px;
  /* bir az sağa sürüşdür */
  width: 100%;
  height: 100%;
  z-index: 1;
  /* qaranın altında qalır */
}

/* Second Page*/

.second-section {
  width: 100%;
  background: #000;
}


.first-image {
  width: 480px;
  height: 250px;
  object-fit: cover;
  display: block;
  margin: 0;
}

.second__section-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 44px 0;
  gap: 70px;
}

.row {
  display: flex;
  gap: 50px;
}

.reverse {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 50px;

}

.white-text-box {
  width: 480px;
  height: 250px;
  background-color: white;
  color: #000;
  font-size: 16px;
  padding: 20px 30px;
}

.text-head {
  font-size: 22px;
  padding-bottom: 25px;
}



.black-text-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 55%;
  height: 311px;
  padding: 1rem;
  background: #000;
  color: white;
  margin-top: 100px;
  padding: 30px;
}

#with-line {
  border-top: 1px solid white;
  margin-top: 1px;
}

.second-img {
  width: 675px;
  height: 250px;
}

#with-line {
  border-top: 1px solid white;
  margin-top: 1px;
  padding-top: 10px;
}


h2,
h3 {
  margin: 0 0 16px;
  text-transform: uppercase;
  letter-spacing: .02em;

}

.more {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  margin-top: 45px;
}

.more-link {
  text-decoration: none;
  color: #000;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
}

.line-short {
  width: 48px;
  height: 1px;
  background: #000;
  border-radius: 1px;
  display: inline-block;
  margin-top: 10px;
}



/* Third Page*/
.third-section {
  display: flex;
  padding: 0 75px;
}

.third-container {
  background: white;
  color: black;
}

.mission {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 30px;
  padding: 60px 80px;
}

.mission-content {
  flex: 1;
  max-width: 600px;
  padding: 25px;
}

.mission-content h2 {
  font-size: 24px;
  letter-spacing: 1px;
  border-top: 2px solid #000;
  padding-top: 20px;
  margin-bottom: 15px;

}

.mission-content p {
  font-size: 15px;
  line-height: 26px;
  color: black;
  margin-bottom: 20px;
}

.read-more {
  display: inline-block;
  text-decoration: none;
  color: #000;
  font-weight: 600;
  position: relative;
}

#line-mission {
  position: absolute;
  height: 1px;
  width: 50px;
  border: 1px solid black;

}

.bg-white {
  background-color: #fff !important;
}


/* Black box section */
.understand-box {
  background-color: #000;
  color: #fff;
  padding: 25px;
  margin-top: 153px;
}

.understand-box h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.understand-box p {
  font-size: 14px;
  line-height: 24px;
  color: white;
}

/* Right side image */
.mission-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mission-image img {
  width: 100%;
  max-width: 500px;
  padding: 25px;
}





/* Fourth Page*/
.fourth-section-portfolio {
  height: 100%;
  padding: 40px 75px;
  background-color: black;
}

.fourth-section-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.fourth-section-wrapper img {
  width: 800px;
  height: 400px;
}

/* Text Section */

.portfolio-text {
  max-width: 600px;
  margin-bottom: 40px;
  color: white;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.portfolio-text h2 {
  border-top: 1px solid white;
  padding-top: 10px;
  margin-bottom: 15px;
}

.portfolio-text p {
  font-size: 15px;
  line-height: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 70px;

}

.line-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.read-more-portfolio {
  text-decoration: none;
  color: #000;
}

.line {
  width: 38px;
  height: 1px;
  background-color: #000;
}

#lineWhite {
  color: #fff;
}

.portfolio-gallery {
  display: flex;
  grid-template-columns: repeat(2, fr);
  gap: 30px;
  flex-wrap: wrap;
}

.portfolio-gallery img {
  width: 100%;
  height: 500px;
  display: grid;
}

@media (max-width: 900px) {
  .portfolio {
    padding: 40px;
  }

  .portfolio-gallery {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

/* FOOTER */

.fantom__footer-section {
  background: white;
  color: #000;
  padding: 0 75px;

}

.footer-top {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 20px;
  margin-bottom: 40px;
  margin-top: 40px;
}

.footer__top-wrapper {
  display: flex;
  gap: 180px;
}


.footer-column-connect {
  margin-right: 310px;
  gap: 20px;
  border-top: 1px solid black;
}

.footer-column h3 {
  font-size: 18px;
  margin-bottom: 10px;
  border-top: 1px solid #000;

}

.footer-column p {
  font-size: 16px;
  color: black;
  margin-bottom: 20px;
}

.btn-arrow{
  position: absolute;
  right: 0;
}

.subscribe input {
  flex: 1;
  padding: 8px 131px 8px 8px;
  outline: none;

}

.subscribe button {
  background: #000;
  color: #fff;
  border: 1px solid black;
  padding: 9px 16px;
  margin-left: -4px;
  font-weight: 600;
}

.subscribe button:hover {
  background: rgb(80, 77, 77);
  color: rgb(255, 251, 251)
}

.footer-column-location {
  border-top: 1px solid #000;
}

.social-icons img {
  display: flex;
  width: 200px;
}

.footer-column ul li {
  list-style: none;
  margin-bottom: 8px;
}

.footer-column a {
  text-decoration: none;
  color: #000;
}

.footer a:hover {
  color: #fff;
}

.footer-column .links {
  display: flex;
  gap: 70px;
}

.payment-icons img {
  display: flex;
  width: 200px;
}

.footer-column ul li {
  position: relative;
  padding-right: 90px;
  margin-bottom: 10px;
}

.footer-column ul li::after {
  content: "";
  position: absolute;
  right: 0;
  /* move to the right side */
  top: 50%;
  /* center vertically */
  transform: translateY(-50%);
  width: 30px;
  /* length of the line */
  height: 1px;
  /* thickness */
  background-color: #000;
  /* line color */
}

.social__media {
  display: flex;
  align-items: center;
  gap: 73%;
}

.footer-bottom {
  position: relative;
  display: inline;
  justify-content: space-between;
  font-size: 13px;
  color: black;
  background: #000;
  color: #fff;
}
.btn-arrow-cntr{
  position: relative;
  width: 100%;
  height: 20px;
  right: 100px;top: -30px;
}